* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;

  }


  .main-content {
    position: relative;
    padding: 20px;
    line-height: 1.5;
}

.normal {
color: black;
font-weight: normal;
font-size: 50px;
text-align: left;
display: inline;

}

.bold {
    color: rgb(225, 21, 222);
    font-weight: bold;
    font-size: 50px;
    display: inline;

}

.blue {
    color: rgb(42, 177, 231);
    font-weight: normal;
    font-size: 50px;
    display: inline;

}


  #orderTotal {
    margin-right: 16px;
    text-align: right;
  }

  #itemCounter {
    position: absolute;
    right: 105px;
    top: 0px;
  }

  #basketImage {
    position: absolute;
    top: 16px;
    right: 56px;

  }

  .product {
    display: inline-block;
    margin: 55px;

  }






  .navbar-brand {
    font-weight: bold;
    font-size: 24px;
    padding-top: 6%;

  }

  .hero {
    text-align: center;
    padding: 80px;
    background-color: #dbd9d9;
    display: flex;

  }

  .hero h1 {
    font-size: 46px;
    text-align: start;
    color: #04062d;
    margin-right: 30%;
  }

  .hero p {

    margin-top: 10px;
    text-align: start;
    font-size: 25px;
  }

  .med {
    float: right;
    /* padding-right:10%;
    padding-top: 5%;
    padding-bottom: 5%; */
    position: relative;
    top: 0px;
    left: 0px;
    /* border: 1px solid #000000; */
}

.med2 {
float: right;
margin-left: 0px;
position: absolute;
top: 215px;
left:45%;

}


  .product-boxes {
    text-align: cover;
  }

  .profile-img {
    border-radius: 40%;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    max-width: 80%;
    height: 20%;
  }

  .info-box {
    border: 3px dashed #090909;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
  }

  .btn-primary {
    border-radius: 25px;
    font-weight: bold;
    padding: 10px 20px;
  }

  .benefits-section {
    border: 5px dashed #000;
    padding: 40px;
    border-radius: 20px;
    position: relative;
    background-color: #f9f9f9;
    margin-right: 10px;
    margin-bottom: 5%;
  }

  .benefits-section h2 {
    font-size: 36px;
    font-weight: bold;
    color: #1cb2ed;
  }

  .benefits-section h3 {
    font-size: 20px;
    color: #0e5aac;
    font-weight: bold;
  }

  .benefits-section p {
    font-size: 16px;
    color: #444242;
    margin-bottom: 20px;
  }

  .image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }



  $theme-colors: (
  "dark-pink": #c2185b // Your preferred dark pink shade
);
@import "bootstrap"; 